:root {
  font-size: 60%;

  --color-background: #EEEEEE;
  --color-text: #333333;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
.container {
  height: 100vh;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
}

body,
input,
button,
textarea {
    font: 500 1.6rem 'Trebuchet MS';
    color: var(--color-text-base);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
