:root {
  font-size: 60%;

  --color-background: #bdc3c7;
  --color-text: #34495e;
  --color-box-background: #FEFEFE;
  --color-hr: #2c3e50;

  --color-table-border: #2c3e50;

  --color-button-edit: #3498db;
  --color-button-edit-dark: #2980b9;

  --color-button-delete: #e74c3c;
  --color-button-delete-dark: #c0392b;

  --color-button-save: #2ecc71;
  --color-button-save-dark: #27ae60;

  --color-button-text: #ecf0f1;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100vh;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  padding: 1rem;
}

body,
input,
button,
textarea {
    font: 500 1.6rem 'Trebuchet MS';
    color: var(--color-text);
}

.container {
  height: 97vh;
  padding: 1rem 25%;
  background: var(--color-box-background);
  border-radius: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  text-align: center;
}

hr {
  width: 100%;
  height: 1px;
  margin: 1rem 0;
  border: 0;

  background: var(--color-hr);
}

nav ul {
  list-style-type: none;
}

table {
  width: 100%;
  margin-top: 2rem;
  border: 2px solid var(--color-table-border);
  border-spacing: 0;
  border-collapse: collapse;
}

table th,
table td {
  height: 3rem;
  max-height: 3rem;
  border: 1px solid var(--color-table-border);
  padding: 0.25rem 0.5rem;

  text-align: center;
}

table td .edit,
table td .delete {
  height: 2.5rem;
  padding: 0.2rem 0.5rem;
  
  border: 0;
  border-radius: 0.5rem;
  outline: 0;
  background-color: #f00;

  font-weight: bold;
  text-decoration: none;
  color: var(--color-button-text);
}

table td .edit {
  background: var(--color-button-edit);
}

  table td .edit:hover {
    background: var(--color-button-edit-dark);
  }

table td .delete {
  background: var(--color-button-delete);
}

  table td .delete:hover {
    background: var(--color-button-delete-dark);
  }

form {
  width: 100%;
}

.field * {
  display: block;
}

.field:first-child {
  margin-bottom: 1.6rem;
}


.field label {
  margin-bottom: 0.5rem;

  font-size: 1.8rem;
}

.field input {
  width: 100%;
  height: 3.6rem;
  padding: 0.5rem;

  border: 1px solid var(--color-text);
  border-radius: 0.5rem;
}

form button {
  display: block;

  width: 15rem;
  height: 4rem;
  margin: 0 auto;
  
  border: 0;
  border-radius: 0.5rem;
  background: var(--color-button-save);
  color: var(--color-button-text);
  outline: none;
  font-weight: bold;

  transition: background 0.2s;
}

form button:hover {
  background: var(--color-button-save-dark);
}
